# Firebase
GOOGLE_APPLICATION_CREDENTIALS=meetup-barcher-firebase-adminsdk-fbsvc-e9de80fad6.json
FIREBASE_PROJECT_ID=meetup-barcher

# Telegram
VITE_TELEGRAM_BOT_USERNAME=
VITE_API_URL=http://localhost:5001/meetup-barcher/us-central1/api
